.footer {
  /* background-color: #21235e; */
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 1.4rem;
  position: relative;
  height: 100%;
  z-index: 1;
}

.footer-content p:nth-child(1) {
  margin: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.footer-content p:nth-child(2) {
  margin: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 220px;
  left: 50%;
  transform: translateX(-50%);
}
.footer img {
  width: 100%;
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 1rem;
  }
  .footer-content p:nth-child(1) {
    bottom: 200px;
  }
  .footer-content p:nth-child(2) {
    bottom: 170px;
  }
}
