.about-section {
  position: relative;
  z-index: -1;
  display: flex;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  /* margin: 50px; */
  background-image: url("../../assets/veect_asset_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-section-mobile {
  position: relative;
  z-index: -1;
  display: flex;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  /* margin: 50px; */
  background-image: url("../../assets/vect_asset_bg1_mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-section-mobile h3 {
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;

  color: #abaff2;
  margin-bottom: 0;
}
.about-section-mobile h2 {
  color: #f0f2ff;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 900;
  margin-top: 0;
}
.about-section-mobile h3 {
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;

  color: #abaff2;
  margin-bottom: 0;
}
.about-section h2 {
  color: #f0f2ff;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 900;
  margin-top: 0;
}
.container {
  width: 100%;
  /* margin: 1rem; */
  height: 100%;
}

.about__container {
  position: relative;
  z-index: 1;
  height: 100%;
  background-color: #21235e;
  display: flex;
}

.abt_content {
  position: absolute;
  right: 50px;
  width: 50%;
  height: 100%;
  background-color: #21235e;
  font-family: "Roboto";
  font-size: 1.2rem;
  color: #f0f2ff;
}
/* ======media queries for mobile(small devices) =========*/

@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .abt_content {
    margin: 1.5rem 0;
    font-size: 1rem;
  }
}
