.home-section {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #4043a0 0%, #21235e 100%);
}

.main-title {
  display: flex;
  width: 100%;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f0f2ff;
  gap: 40px;
}

.main-title h1 {
  font-size: 5.2rem;
  line-height: 1.1;
}
.memoji {
  display: flex;
  flex-direction: column;
  max-width: 200px;

  display: flex;
}
.memoji img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.memoji h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 1.2rem;
  color: #f0f2ff;
  text-align: left;
}
.title {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 1.2rem;
  color: #f0f2ff;
  text-align: left;
}

.nav-area {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;

  justify-content: space-between;
  padding: 20px;
}

.nav-bar {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
.nav-bar li {
  display: flex;
  gap: 10px;
}
.nav-bar a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  color: #f0f2ff;
  text-decoration: none;
}

.nav-bar a:hover {
  color: #abaff2;
  transition: color 0.25s;
}

.nav-bar a.active {
  color: #abaff2;
}

.download-btn {
  font-family: "Poppins";
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #abaff2;
  color: #f0f2ff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #9a9fe2;
}

.download-btn:active {
  background-color: #8a8fc1;
}
.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  right: -50px;
  bottom: 130px;
}
.scroll-down a {
  font-size: 1.2rem;
  color: #f0f2ff;
  font-family: "Poppins";
  transform: rotate(90deg);
  margin: 0;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 50px;
  bottom: 0;
  font-size: 2rem;
  color: #abaff2;
}

.social-media::after {
  content: "";
  width: 3px;
  height: 4rem;
  background: #abaff2;
}

@media screen and (max-width: 768px) {
  .main-title {
    flex-direction: column;
  }
  .main-title h1 {
    font-size: 3rem;
    text-align: center;
  }

  .social-media {
    left: 25px;
  }
  .scroll-down {
    display: none;
  }

  .title,
  .memoji h1 {
    font-size: 1rem;

    .nav-bar ul {
      gap: 10px;
      padding: 0;
      flex-direction: column;
    }

    .nav-bar a {
      font-size: 1.1rem;
    }

    .home-section {
      padding: 0 20px;
    }

    .nav-area {
      padding: 15px;
    }
    .download-btn {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
}
