#skills {
  position: relative;
  display: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;

  background: linear-gradient(180deg, #4043a0 10.44%, #21235e 100%);
}
#skills h3 {
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 900;
  color: #f0f2ff;
  text-align: center;
  margin-bottom: 0;
}
#skills h2 {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 900;
  color: #abaff2;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 900;
  margin-top: 0;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  color: #21235e;
  transition: all 0.3s ease;
}
.skill svg {
  font-size: 3rem;
  color: #f0f2ff;
}
.skill p {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 700;
  color: #f0f2ff;
  text-align: center;
  margin-top: 0.5rem;
}

.skill:hover {
  cursor: pointer;
}
.skill:hover svg {
  color: #6e74dd;
  transition: all 1s ease;
}
.skill:hover p {
  color: #6e74dd;
  transition: all 1s ease;
}

@media screen and (max-width: 768px) {
  #skills {
    padding: 50px;
  }
  #skills h2 {
    font-size: 2rem;
  }
}
