@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #f0f2ff;
  background-color: #21235e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --transition: all 400ms ease;
  --color-white: #f0f2ff;
  --color-bg: #21235e;
  --color-primary: #abaff2;
  --color-bg-variant: #6e74dd;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
a {
  font-weight: 500;
  color: #6e74dd;
  text-decoration: inherit;
}
a:hover {
  color: #f0f2ff;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #abaff2;
  transition: var(--transition);
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}
.btn-primary {
  background: #abaff2;
  color: var(--color-bg);
}
button:hover {
  border-color: #f0f2ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
